.show-kids-nav{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 22px;
  font-weight: 600;
  color: crimson;
}

.nav{
  /* margin-left: 5px;
  margin-right: 5px; */
  font-size: 22px;
  font-weight: 600;
  color: crimson;
 
}

.kid-card-info{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 5px;
  padding: 5px;
  padding-top: 100px;
  column-gap: 30px;
  row-gap: 30px;
}

.info{
  background-color:snow;
}

